<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>

    <div class="header_div"><h1>Create New Campaign Day</h1></div>

    <div class="form">
        <form action="create_new_day" method="post" id="create_new_day">
            <!-- Title, required -->
            <input type="text" name="title" placeholder="Calendar Day / Title" required/><br>
            <!-- Description, optional -->
            <textarea id="description" name="description" form="create_new_day" placeholder="What happened this day?"></textarea>

            <input type="submit" value="Start a New Adventure!"/>

        </form>
    </div>



  </body>
</html>
